@import 'bootstrap-sprockets';
@import 'bootstrap';

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.img-home{
  width:100%;
  max-width:300px;
  max-height: 160px
}

.about{
  .jumbotron {
    background-color: #f4511e;
    color: #fff;
    padding: 100px 25px;
  }
  .bg-grey {
    background-color: #f6f6f6;
  }
  .logo {
    font-size: 200px;
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
  }
}

#error_explanation {
  color: red;
  ul {
  color: red;
  margin: 0 0 30px;
}
}
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.button-center{
  margin-left: 40%
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #333;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(126, 71, 71, 0);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media(min-width:768px) {
  .wrapper {
    padding-left: 250px;
  }

  #sidebar-wrapper {
    width: 250px;
  }

  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
}

#repeatType {
  display: none
}

.spending_plans {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.budgets {
  padding: 10px 20px;
  border-bottom: 1px solid $gray-lighter;
}

.link_children {
  color: #337ab7;
}

.link_children:hover {
  text-decoration: underline;
  cursor: pointer;
}

.hide1 {
  display: none;
}
